.pago-paypal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px); /* Ajusta según el Header y Footer */
    background-color: #f0f0f0;
  }
  
  .pago-paypal-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .paypal-logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .paypal-logo img {
    max-width: 150px;
  }
  
  .monto-info, .monto-valores {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .paypal-button {
    background-color: #ffc439;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .paypal-button:hover {
    background-color: #ffda70;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .pago-exitoso {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }