.ruta {
    border: 1px solid #606060;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ruta-imagen {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 1rem;
}

.ruta-info {
    flex: 1;
}